.nav{
    background-color: #0099cc;
    height: 80px;
}

.grid{
    margin: 0 30% ;
}

.options{
    margin-top: 5px;
    height: 80px; 
}

.visualise{
    margin: 10px 45%;
}

td{
    background-color: whitesmoke;
    height: 50px;
    width: 50px;
    border: 1px solid indigo;
    transition: background-color 1s;
}

.selectedNode{
    animation-name: coloring;
    animation-duration: 1s;
}

@keyframes coloring{
    from{background-color: white;}
    to{background-color: yellow;}
}