.nav{
    background-color: #0099cc;
    height: 80px;
}

.grid{
    margin: 0 30% ;
}

.options{
    margin-top: 15px;
    height: 80px; 
    margin: auto;
    padding-top: 12px;
}

#visualise{
    margin-left: 25%;
    margin-right: 25%;
}

#check{
        display: inline;
}

#clearGrid{
    display: inline;
    margin-left: 15%;
}

td{
    background-color: thistle;
    height: 50px;
    width: 50px;
    border: 1px solid indigo;
    transition: background-color 1s 1s;
}


.finalPath{
    background-color: "red";
}