body{
    margin: 0;
}

.navbarr{
    background-color: #0099cc;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
}

#name{
    margin-left: 5%;
    margin-top: 40%;
    margin-right: 70%;
    height: 100%;
}

.dropdownButton{
    height: 100%;
    margin-bottom: 4px;
    background-color: #0099cc;
}

.grid{
    margin: 0 30% ;
}

.options{
    margin-top: 15px;
    height: 80px; 
    margin: auto;
    padding-top: 12px;
}

#visualise{
    margin-left: 25%;
    margin-right: 25%;
}

#check{
        display: inline;
}

#clearGrid{
    display: inline;
    margin-left: 15%;
}

td{
    background-color: thistle;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    transition: background-color 1s 0.5s;
}


.finalPath{
    background-color: "red";
}